/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    border-radius: 8px;
}

.btn-primary, .btn-success {
    border-radius: 20px;
}

.jumbotron {
    background-color: #e9ecef;
}

/* Sticky Footer */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}
